.container-meetings{margin-top:6vh}.card-meeting .card-header{min-height:62px}.btn-subscribe{background-color:orange;color:#000;font-weight:bold;text-transform:uppercase}.table-meeting th{width:32px;text-align:center}.table-meeting th .fa{font-size:32px}.table-meeting th,.table-meeting td{border:0px}.img-avatar-wrap{width:64px;height:64px;overflow:hidden;border-radius:50%}.img-avatar-wrap img{width:72px;height:72px}.card-show a{text-decoration:underline}.col-card a{color:inherit}.col-card a:hover{text-decoration:none}.input-search{background-color:rgba(255,255,255,0.5);color:#fff;border:none;border-radius:3px;display:flex}.input-search input[type="search"]{padding:16px 6px;min-width:36vw;color:#fff;height:100%;height:42px}.input-search input[type="search"]::placeholder{color:#fff}.input-search input[type="search"]:focus{box-shadow:none !important}.input-search .btn{background-color:rgba(255,255,255,0.5);color:#fff;border-radius:0;-webkit-transition:position 2s;transition:position 2s}.input-search .btn:not(.btn-toggle){display:none}

/*# sourceMappingURL=maps/style.css.map */
